<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Weather App</title>
<link rel="icon" href="/images/sun.png">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
<!-- //Custom Theme files -->
<!-- js -->
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script>
	$(document).ready(function() {
		$("#owl-demo").owlCarousel({
		  autoPlay: 3000, //Set AutoPlay to 3 seconds

		  items : 3,
		  itemsDesktop : [768,3],
		  itemsDesktopSmall : [414,4]

		});

	});
</script>
<!-- sky icons -->
<script src="js/skycons.js"></script>
<!-- //sky icons -->
<!-- //js -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<!-- //web font -->
</head>
<body class="bg">
	<!-- main -->
	<div class="main-agileits">

		<div class="main-wthree-row">
			<div class="agileinfo-text">
				<div class="date">
					<!-- Date-JavaScript -->
					<script type="text/javascript">
						var mydate=new Date()
						var year=mydate.getYear()
						if(year<1000)
						year+=1900
						var day=mydate.getDay()
						var month=mydate.getMonth()
						var daym=mydate.getDate()
						if(daym<10)
						daym="0"+daym
						var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
						var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
						document.write(""+dayarray[day]+" <br> "+daym+"  "+montharray[month]+"  "+year+"")
					</script>
					<!-- //Date-JavaScript -->
				</div>
				<h2><%= temp %><span>°</span></h2>
				<h4><%= cloud %></h4>
				<h6><%= city %></h6>
			</div>
			<div class="w3layouts-slider">
				<div id="owl-demo" class="owl-carousel owl-theme">
					<div class="item agile-item">
						<canvas id="sleet" width="40" height="40"></canvas>
						<h6>Thr</h6>
					</div>
					<div class="item agile-item">
						<canvas id="rain" width="40" height="40"></canvas>
						<h6>Fri</h6>
					</div>
					<div class="item agile-item">
						<canvas id="partly-cloudy-day" width="40" height="40"></canvas>
						<h6>Sat</h6>
					</div>
					<div class="item agile-item">
						<canvas id="cloudy" width="40" height="40"></canvas>
						<h6>Sun</h6>
					</div>
					<div class="item agile-item">
						<canvas id="clear-night" width="40" height="40"></canvas>
						<h6>Mon</h6>
					</div>
					<div class="item agile-item">
						<canvas id="clear-day" width="40" height="40"></canvas>
						<h6>Tue</h6>
					</div>
					<div class="item agile-item">
						<canvas id="partly-cloudy-night" width="40" height="40"></canvas>
						<h6>Wed</h6>
					</div>
				</div>
				<script>
					 var icons = new Skycons({"color": "#fff"}),
						  list  = [
							"clear-night","clear-day", "partly-cloudy-day",
							"partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
							"fog"
						  ],
						  i;

					  for(i = list.length; i--; )
						icons.set(list[i], list[i]);

					  icons.play();
				</script>
			</div>
		</div>
	</div>
	<!-- //main -->

  <script type="text/javascript">
  if (location.protocol != 'https:')
  {
  location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
  }
  </script>
</body>
</html>
